.learn-more{ margin-left: 20px; margin-right: 5px; }
.product-properties p strong{
    color: #FF3399;
}

.main-product-image{
    position: absolute;
    width: 150%;
    height: 100%;
}
.main-desc{
    padding-left: 50px; 
}

.emphasis-title{ margin-bottom: 5px; padding-left: 160px; }
.emphasis-title h1{ text-align: left; font-size: 2em; line-height: 3.5em; }